<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<div class="wrap">
		<!-- <h1>个人主题网站</h1>
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="problem.html">主题</a></li>
			<li><a href="project.html">项目</a></li>
			<li><a href="about.html">关于</a></li>
		</ul> -->
		<!-- <header>
		  <div id="logo"><a href="/"></a></div>
		  <nav class="topnav" id="topnav"><a href="/" id="topnav_current"><span>首页</span><span class="en">Protal</span></a><a href="/about.html"><span>关于我</span><span class="en">About</span></a><a href="/news/"><span>慢生活</span><span class="en">Life</span></a><a href="/newstalk/"><span>碎言碎语</span><span class="en">Doing</span></a><a href="/download/"><span>模板分享</span><span class="en">Share</span></a><a href="/jstt/"><span>学无止境</span><span class="en">Learn</span></a><a href="/e/tool/gbook/?bid=1"><span>留言版</span><span class="en">Guestbook</span></a></nav>
		  
		</header> -->

		<div class="banner">
		  <section class="box">
		  	<div class="box-content">
		  		<p>我们不停的翻弄着回忆</p>
		        <p>却再也找不回那时的自己</p>
		      	<p>红尘一梦，不再追寻</p>
		  	</div>		   
		    <div class="avatar"><a href="about.html"><span>王丹</span></a> </div>
		  </section>
		</div>

	</div>
	
</body>
</html>